.content-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    height: 50vh;
    justify-content: space-between;
    align-items: center;
}


h1 {
    padding-top: 2em;
    text-align: center;
}

.circle-bg:before {
    content: "";
    position: absolute;
    top: -20vw;
    left: 50%;
    width: 100vw;
    height: 100vw;
    background-color: var(--fuschia);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.content {
    width: 95%;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content ol {
    padding-left: 1em;
}

.link-next-page {
    display: flex;
    align-items: center;
    width: 100%;
}