.title-screen {
  font-size: 3.5em;
  text-align: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.btn-container button {
  padding: 20px;
  width: 80%;
  font-size: 20px;
  cursor: pointer;
  background-color: var(--purple);
  color: var(--darkBlack);
  border: 1px solid var(--darkestPurple);
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.btn-container button.selected {
  background-color: var(--lightPurple);
  color: var(--darkBlack);
  border: 1px solid var(--darkestPurple);
}

.content-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  height: 50vh;
  justify-content: space-between;
  align-items: center;
}

.page-title {
  font-size: 2em;
  text-align: center;
  padding-bottom: 1em;
}

.circle-bg:before {
  content: "";
  position: absolute;
  top: -20vw;
  left: 50%;
  width: 100vw;
  height: 100vw;
  background-color: var(--fuschia);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.low-circle-bg:before {
  content: "";
  position: absolute;
  top: 10vh;
  left: 50%;
  width: 100vw;
  height: 100vw;
  background-color: var(--fuschia);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.content {
  width: 95%;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content ol {
  padding-left: 1em;
  padding-top: 1em;
}

.content li {
  padding-top: 0.8em;
}

.link-next-page {
  display: flex;
  align-items: center;
  width: 100%;
}

.scorecard-header {
  background-color: var(--fuschia);
}

.content-page .score-container {
  text-align: left;
  background-color: var(--purple);
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  grid-template-rows: repeat(5, 0.5fr);
  grid-column-gap: 0px;
  grid-row-gap: 0.5em;
  border: 1px solid var(--darkestPurple);
  display: inline-grid;
  justify-items: stretch;
  align-items: stretch;
  justify-content: space-between;
  font-size: larger;
  width: 80%;
}

.div1 {
  grid-area: 1 / 1 / 2 / 3;
  border: 1px solid var(--darkestPurple);
  padding: 8px;
  background-color: var(--orange);
}

.div2,
.div3,
.div4,
.div5,
.div6,
.div7 {
  border: 1px solid var(--darkestPurple);
  background-color: var(--lightPurple);
  padding: 8px;
}

/* linkerrij titels */
.div2,
.div4,
.div6 {
  font-weight: 600;
  border-right: none;
}

.div3,
.div5,
.div7 {
  border-left: none;
}

.div2 {
  grid-area: 2 / 1 / 3 / 2;
}

.div3 {
  grid-area: 2 / 2 / 3 / 3;
}

.div4 {
  grid-area: 3 / 1 / 4 / 2;
}

.div5 {
  grid-area: 3 / 2 / 4 / 3;
}

.div6 {
  grid-area: 4 / 1 / 5 / 2;
}

.div7 {
  grid-area: 4 / 2 / 5 / 3;
}

.div8 {
  grid-area: 5 / 1 / 6 / 3;
}

.quiz-container code {
  background-color: var(--lightOrange);
  display: inline-block;
  padding: 15px;
  margin: -1px 4px 0 -1px;
  font-size: 2em;
}

.code-box {
  /* padding-bottom: 1em;
    padding-bottom: 1em; */
  margin: 1em 0 1em 0;
}

/* inputbox */

.invoerveld {
  font-family: "Courier New", Courier, monospace;
  vertical-align: top;
  font-size: 3rem;
  display: inline-block;
  position: relative;
  width: 8ch;
  background-color: var(--lightOrange);
}

.opdracht {
  /* font-weight: 500; */
  /* text-decoration: underline; */
  color: var(--darkestPurple);
}
