.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.btn-container button {
    padding: 20px;
    width: 80%;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--purple);
    color: var(--darkBlack);
    border: 1px solid var(--darkestPurple);
    transition: background-color 0.3s ease;
    border-radius: 8px;

}

.btn-container button.selected {
    background-color: var(--lightPurple);
    color: var(--darkBlack);
    border: 1px solid var(--darkestPurple);
}