header {
    background-color: var(--lightPurple);
    display: flex;
    padding: 3ch;
    justify-content: space-between;
    margin: 0px auto;
    min-height: 5em;
}

header .team-name {
    min-width: 6ch;
    font-size: 1.5em;
}

header .team-name p {
    font-size: 1.2em;
}

header .score {
    min-width: 10ch;
    align-self: center;
    text-align: end;
    font-size: 1.5em;
}