@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');


:root {
  --purple: #AEAFF7;
  --darkPurple: #7879F1;
  --darkestPurple: #21005D;
  --lightPurple: #dac6fa;
  --lighterPurple: #EADDFF;
  --darkBlack: #371B34;
  --fuschia: #CDC2F1;
  --darkerPink: #EFB8C8;
  --errorRed: #B3261E;
  --white: #E5E5E5;
  --orange: #F09E54;
  --lightOrange: #FBE2CC;
  --pink: #EF5DA8;
  --lightPink: #FCDDEC;
  --blue: #A0E3E2;
  --brown: #954441;


  --borderRadius: 18px;
}


#root {
  display: flex;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a:any-link {
  text-decoration: none;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.0em;
  font-weight: 400;
  background-color: var(--purple);
  color: var(--darkBlack);
}


h1,
h2,
h3,
h4,
h5 {
  font-family: 'Alegreya', serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.02em;
}

h1 {
  padding-top: 0.4em;
}

h2 {
  padding-top: 0.8em;
}

h3 {
  padding-top: 0.6em;
}

.container {
  max-width: 100ch;
  width: 100vw;
  min-width: 320px;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  height: 50vh;
  justify-content: space-between;
}

.page h1 {
  align-self: center;
  padding-top: 4%;
  font-size: 4em;
  text-align: center;
}

.page h1:before {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  width: 100vw;
  height: 100vw;
  background-color: var(--fuschia);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.btn-next-page {
  background-color: var(--darkBlack);
  margin-top: 1em;
  margin-bottom: 2em;
  color: var(--white);
  padding: 2ch;
  margin-left: 5%;
  width: 90%;
  font-size: 1.4em;
  border-radius: var(--borderRadius);
  border: none;
}

.btn-next-page:active {
  background-color: var(--darkPurple);
  color: var(--darkBlack);
  border: 1px solid var(--darkBlack);
}

.btn-next-page:disabled {
  opacity: 0.2;
}


.animation-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: color-mix(in srgb, var(--purple) 50%, transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    pointer-events: none; /* zodat je wel op de achterliggende dingen kan klikken */
}

.animation-overlay.visible {
    opacity: 1;
}

.animation-overlay .score-container {
    width: 25%;
    padding: 2em;
    background-color: var(--darkPurple);
    border: 1px solid var(--darkestPurple);
    border-radius: var(--borderRadius);
    text-align: center;
}

.animation-overlay .score-container h1 {
    margin: 0;
    padding: 0;
}

.animation-overlay .score-container.positive h1:before {
    content: '+';
}

.animation-overlay .score-container.negative h1 {
    color: var(--errorRed);
}
